*.pyc
*.log
node_modules
*.coverage
arches_templating/logs
arches_templating/export_deliverables
arches_templating/cantaloupe/*
arches_templating/staticfiles
arches_templating/media/packages
arches_templating/media/build/
arches_templating/uploadedfiles/*
arches_templating/settings_local.py
webpack-stats.json
.vscode/
*.egg-info
.DS_STORE
CACHE